*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
.header {
    min-height: 10vh;
    width: 100%;
    background:#1b1b1b;
    background-position: center;
    background-size: cover;
    position: fixed;
}
nav{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
    
}
/*--------------------------------------------------------------------------------------------------*/
/*------------------------------------------ALSHORE LOGO--------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
nav img{
    width: 80px;
}
/*--------------------------------------------------------------------------------------------------*/
/*------------------------------------------MENU NAVIGATION--------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

.nav-links{
    flex-direction: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px;
    position:relative;
}
.nav-links ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li a:hover{
    color: gold;

}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: gold;
    display: block;
    margin: auto;
    transition: 0.5s;
    
    
}
.nav-links ul li:hover::after{
    width:100% ;
}

/*--------------------------------------------------------------------------------------------------*/
/*-----------------------------------------SUB MENU-------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
.nav-links ul ul{
    position: absolute;
    top: 30px;
    text-align: left;
    background: rgba(20, 17, 17, 0.6);
    display: none;
    transition: 0.5s;
    z-index: 2;
    
}
.nav-links ul ul li{
    position: relative;
    margin: 0px;
    width: 130px;
}
.nav-links ul ul li a:hover {
color: gold;
border-color: gold;
}
.nav-links ul ul li:hover {
    background:gold:
    border-radius: 5px;
 }
.nav-links ul li:hover ul {
display: block;
}
/*--------------------------------------------------------------------------------------------------*/
/*-------------------------------------BANNER CAPTION-----------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/

.text-box{
    width:100%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
   font-size: 62px; 
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
    color: #fff;
    line-height: 20px;
}


/*----------------hide Menu icon-------------------*/
.menuICON{
        position: absolute;
        display: none;
        right: 10px;
        top: auto;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
          
}
.sepICONS .fa-solid{
    display: none;
}

/*--------------------------------------------------------------------------------------------------*/
/*----------------------------------------CURICULLUM------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/






/*--------------------------------------------------------------------------------------------------*/
/*----------------------------------------CONTACT US-----------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-Us{
    width: 100%;
    margin: 20px;
}

.contact-Icon{
flex-basis: 48%;
margin-bottom: 30px;
}

.contact-Icon div{
    display: flex;
    width: 50%;
    align-items: center;
    margin-bottom: 40px;
 
    }
.contact-Icon div .fa-solid{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-Icon div p{
padding: 0;
}
.contact-Icon div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight:bold;
    }
    
.AtchupRed{
    display: inline-block;
    text-decoration: none;
    color: #f44336;
    border: 1px solid #f44336;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.AtchupRed:hover{
border: 1px solid #fff;
background: #f44336;
color: #fff;
transition: 1s;
}
.contact-Icon input,
.contact-Icon textarea {
width:100% ;
padding: 0x;
margin-bottom: 17px;
outline: none;
border: 1px solid #ccc;
}


/*--------------------------------------------------------------------------------------------------*/
/*-------------------------------FREQUENTLY ASKED QUESTIONS------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*body .agaray{
display: flex;
justify-content: center;
align-items: center;
min-height: 50vh;
}*/
.container{
    margin: 40px 10%;
    max-width: 100%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.container h1{
    color: #4b4a4a;
}
.container .tab{
    position: relative;
    background:white;
    padding: 0 20px 20px ;
    box-shadow: 0 10px 25px; rgba(0,0,0,0.02);
    overflow: hidden;
}
.container .tab input{
    appearance: none;
}
.container .tab label{
display: flex;
align-items: center;
cursor: pointer;
}
.container .tab label:after{
    content: '+';
    position: absolute;
    right: 20px;
    font-weight:bold;
    color: rgba(0,0,0,0.1);
    transition: tansform 1s;
}
.container .tab:hover label:after {
    color: #1b1b1b;
}
.container .tab input:checked ~label::after{
    transform: rotate(135deg);
    color: white;
   
}
.container .tab label h2{
    width: 40px;
    height: 40px;
    background: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.25em;
    border-radius: 5px;
    margin-right: 10px;
 
}
/*
.container .tab input:checked ~ label h2{
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    color: rgba(255,255,255,0.2);
    font-size: 8em;
    justify-content: first baseline;
    padding: 20px;
}
.container .tab:nth-child(1) label h2{
    background: linear-gradient(135deg,#1915f7,#179af1);
}

.container .tab:nth-child(2) label h2{
    background: linear-gradient(135deg,#39ec0c,#66ec0c);

} */
.container .tab input:checked ~ label h2{

    color:gold;
}
.container .tab label h3{
    position: relative;
    font-weight: 500;
    color: #333;
    z-index: 10;
}
.container .tab .content{
    max-height:0 ;
    transition: .20s;
    overflow: hidden;
}
.container .tab input:checked ~ .content {
    max-height: 100vh;
}
.container .tab .content p {
    position: relative;
    padding: 10px 0;
    line-height: 20px;
    font-weight: bold;
    margin: 2px 2px;
    color: #333;
    z-index: 10;
}


/*--------------------------------------------------------------------------------------------------*/
/*------------------------------------------FOOTER--------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
    .footer{
    width: 100%;
    text-align: center;
    padding: 20px 0;

    
    }
    h4{
        margin-bottom: 10px;
        margin-top: 20px;
        font-weight: 600;
    }
    p{
        color: #4b4a4a;
        font-size: 14px;
        font-weight: 300;
        line-height: 10px;
        padding: 10px;
    }
    .footer .fa-brands{
        margin: 0 13px;
        cursor: pointer;
        padding: 18px 0;
    }
    .fa-heart{
        color: #fc0101;
    }
/*--------------------------------------------------------------------------------------------------*/
/*---------------------------------------RESPONSIVE DEVICES-----------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background:#f44336;
        height: 100vh;
        width: 50%;
        top:0;
        right:-300px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        
    }
    .nav-links ul ul{
        position: absolute;
        top: 30px;
        text-align: left;
        background: #1b1b1b;
        display: none;
        transition: 0.5s;
        z-index: 2;

    }
    .nav-links .sepICONS .fa-solid {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
     .menuICON {
        display: block;
        cursor: pointer;
    }

